.formContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
  position: relative;
}

.gradientWrapper {
  padding: 0.5vw;
  background: none;
  border: 0.5rem solid white;
  margin-top: 2vh;
  box-shadow: 5px 5px 5px rgb(158, 145, 145);
  padding-bottom: 2vh;
  /* box-shadow: 10px 5px 5px black; */
}

.infoFieldset {
  display: flex;
  flex-direction: column;
  background: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-style: none;
}

.messageFieldset {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.submitButton {
  background: none;
  border: 0.2rem solid white;
  padding: 0.3rem;
  font-size: 1rem;
  color: white;
  position: absolute;
  right: 2vw;
  bottom: 2vh;
}
