.formContainer {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.gradientWrapper {
  padding: 0.5vw;
  background: none;
  border: 0.5rem solid white;
  margin-top: 2vh;
  box-shadow: 5px 5px 5px rgb(158, 145, 145);
  /* box-shadow: 10px 5px 5px black; */
}

.infoFieldset {
  display: flex;
  flex-direction: column;
  background: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-style: none;
}

.messageFieldset {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
