.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(270deg, var(--lightgold), var(--darkgold), pink);
}

.disclaimer {
  width: 70vw;
  padding: 1rem;
}

.emailAdress {
  color: white;
}

.backButton {
  background: none;
  border: 0.2rem solid white;
  padding: 0.3rem;
  font-size: 1rem;
  color: white;
}

.submitButton {
  background: none;
  border: 0.2rem solid white;
  padding: 0.3rem;
  font-size: 1rem;
  color: white;
}
