.toggleButton {
  border-radius: 25px;
  background: none;
  border: 2px solid pink;
  font-size: 1rem;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  position: absolute;
  top: 1vh;
  right: 1vw;
  color: pink;
  z-index: 1;
}
