.main {
  /* padding-top: 20vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(270deg, var(--lightgold), var(--darkgold), pink);
  /* position: relative; */
}

.stickyLink_Home {
  position: sticky;
  top: 3vh;
  z-index: 2;
}

.stickyLink_Booking {
  position: sticky;
  top: 3vh;
  z-index: 2;
}

.stickyLink_Media {
  position: sticky;
  top: 3vh;
  z-index: 2;
}

.workshopContainer {
  align-self: center;
  margin-bottom: 5%;
  margin-top: 15%;
  position: relative;
}

.workshoptitle {
  color: rgba(248, 244, 239, 0.905);
  border-radius: 50%;
  /* background: rgba(255, 255, 255, 0.5); */
  border: none;
  display: inline;
  padding: 2rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: -3vh;
  right: 50%;
}

/* .workshoptitleContainer {
  border-radius: 20%;
  background: rgba(255, 255, 255, 0.5);
  display: inline;
} */

.navButton {
  height: 22vh;
  min-height: 180px;
  width: 22vh;
  min-width: 180px;
  border-radius: 50%;
  border: none;
  background: radial-gradient(
    circle at 75% 30%,
    rgba(255, 255, 255, 0.8) 5%,
    rgba(0, 255, 255, 0.5) 10%,
    rgba(64, 1, 173, 0.1) 60%,
    rgba(0, 255, 255, 0.1) 100%
  );
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    inset 10px 0 46px rgba(234, 245, 252, 0.2),
    inset 88px 0px 60px rgba(194, 216, 254, 0.2),
    inset -20px -60px 100px rgba(253, 233, 234, 0.2), inset 0 50px 140px #fde9ea,
    0 0 90px #fff;
  backdrop-filter: hue(5vh);
  font-size: 1.5rem;
  color: var(--beige);
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  z-index: 1;
  animation: moveBubble 3.5s ease-in-out infinite;
  /* animation: wobbleColor 2s ease-in-out infinite; */
}

@keyframes moveBubble {
  0% {
    transform: translatey(0vh);
  }
  50% {
    transform: translatey(-1vh);
  }
  100% {
    transform: translatey(0vh);
  }
}

.homeButton {
  position: absolute;
  right: 50%;
  margin-right: -11vh;
}

.bookingButton {
  position: absolute;
  top: 3vh;
  left: 3vw;
  animation-delay: 500ms;
}

.mediaButton {
  position: absolute;
  right: 3vw;
  top: 3vh;
  animation-delay: 800ms;
}

.imagebox {
  height: 50vh;
  width: 70vw;
  position: relative;
}

.homeImage {
  object-fit: contain;
  padding: 1rem;
  /* animation: fadeOut 4s infinite; */
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
