.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(270deg, var(--lightgold), var(--darkgold), pink);
}

.impressumForWebsite {
  font-size: 0.75rem;
}
